@import '~@/scss/partials/variables';

.Hero {
  background-color: $brand-primary;
  min-height: 600px;
  width: 100vw;
  padding: 3rem;
}

.Small {
  min-height: 400px;
}

.Medium {
  min-height: 600px;
}

.Large {
  min-height: 800px;
}

.FullHeight {
  min-height: calc(100vh - 8.25rem);
}
