.Card {
  display: flex;
  flex-direction: column;
  background-color: #ebeef3;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .Image {
    border-radius: 5px 5px 0 0;
  }

  .Container {
    padding: 2px 16px;
  }
}
