.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 4rem;

  .Branding {
    cursor: pointer;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .Navbar {
    flex-direction: column;

    .Branding {
      margin: 0 auto;
    }
  }
}
