@import '~@/scss/partials/variables';

.NavbarNavigation {
  list-style: none;
  display: flex;

  li {
    margin: 0 1rem;

    a {
      width: 1rem;
      color: $black;
      text-decoration: none;
      padding: 1rem;
      border-radius: 8px;

      &:visited {
        color: $black;
      }

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  .RegisterButton {
    background-color: $black;
    color: $white;
    padding: 1rem;
    border-radius: 8px;

    &:hover {
      background-color: #555;
    }
  }
}

@media (max-width: 768px) {
  .NavbarNavigation {
    list-style: none;
    display: flex;
    margin-top: 1rem;

    li {
      margin: 0 1rem;

      a {
        width: 1rem;
        color: $black;
        text-decoration: none;
        padding: 0;
        border-radius: 8px;

        &:visited {
          color: $black;
        }

        &:hover {
          color: #f1f1f1;
          text-decoration: underline;
        }
      }
    }

    .RegisterButton {
      background-color: $white;
      color: $black;
      padding: 0;

      &:hover {
        color: #555;
        text-decoration: underline;
      }
    }
  }
}
